body{
    /* font-size: 16px; = 1em; */
    font-size: 16px;
    /* max-width: 1024px; Las paginas html tienen la tendencia de recargarse del lado derecho */
    max-width: 1024px;
    /* margin:  5px; Parametros:(Todos los extremos)
                5px 8px; Parametros: (Arriba, Abajo), (Izquierda,Derecha)
                5px 8px 10px 4px; Parametros: Arriba, Derecha, Abajo, Izquierda. en sentido Horario */
    margin: 0px auto;
    border: 1px solid red
}
header{
    background: #D1E3EE;
}
header nav ul li{
    display: inline-block;
    color: white;
    /* border: 1px solid red; */
    margin-right: 30px;
}
header nav{
    background-color: #0061F0;
    width: 99%;
    margin: 0px auto;
    border-radius: 5px;
    padding: 2px 0px;
    /* Los margenes externos son llamados borders; Los margenes internos, padding */
    /* Border-radius tiene un estandar defacto de 5px */
}
header nav form{
    float: right;
    margin-top: -35px;
    margin-right: 10px;
}
header nav form input{
    border-radius: 5px;
    
}
header nav form input[type="submit"]{
    background-color: green;
    border: 1px solid green;
    color: white;
}
#logo{
    /* Este es nuestro logo, ID = logo */
    /* margin: -150px 0px 0px 0px; */
    margin-top: -150px;
}
#seccion01{

}
