body{
    background-color: var(--color-beige);
    max-width: 1024px;
    font-size: 16px;
    margin: 0px auto;
}
header{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 40px;
}
header hr{
    margin-top: 40px;
    width: 100%;
}
header nav ul li{
    display: inline-block;
    margin-right: 10px;
}
html{
    --color-cafe: #522d27;
    --color-beige: #e7e1f0;
    --color-blanco: white;
    --color-naranja: #fd5232;
}
#articulosDeColores{
    margin: 0px auto;
    width: 99%;
}
#articulosDeColores{
    margin: 0px auto;
    width: 99%;
}
#articulosDeColores section div{
    margin-top: 5px;
}
#articulosDeColores section:nth-child(1) div:nth-child(2){
    margin-right: 25px;
}
#articulosDeColores section:nth-child(2) div{
    margin-left: 25px;
}
#articulosDeColores section{
    display: inline-block;
    width: 49%;
}
#articuloCafe{
    margin-right: 10px;
}
#articuloCafe span{
    margin-right: 10px;
}
#articuloCafe article{
    background-color: var(--color-cafe);
    border: 10px solid var(--color-blanco);
    width: 450px;
    height: 250px;
    text-align: justify;
}
#articuloCafe article span:nth-child(1){
    display: flex;
    margin-top: 25px;
}
#articuloCafe article span:nth-child(3){
    display: flex;
    margin-top: 48px;
}
#articuloBlanco article{
    background-color: var(--color-beige);
    border: 10px solid var(--color-blanco);
    width: 450px;
    height: 250px;
    margin-left: 25px;
    text-align: center;
}
.articulo_subtitulo{
    font-size: 20px;
}
.letra_blanca{
    color: var(--color-blanco);
}
.letra_cafe{
    color: var(--color-cafe);
}
.letra_centrado{
    text-align: center;
}
.letra_curva{
    font-style: italic;
}
.letra_derecha{
    text-align: right;
}
.letra_introduccion{
    text-align: justify;
    width: 80%;
    margin: 20px auto;
}
.letra_izquierda{
    text-align: left;
}
.letra_naranja{
    color:var(--color-naranja);
}
.letra_grande{
    font-size: 48px;
}
.letra_grande2{
    font-size: 72px;
}
.letra_justificado{
    text-align: justify;
}
.letra_titulo{
    font-size: 96px;
}
.letra_subtitulo{
    font-size: 24px;
}
.nito{
    font-weight: bold;
}
.textoAbajo1{
    display: flex;
    justify-content: space-between;
}
.textoAbajo2{
    display: inline-block;
}